temp/
temp*/
.temp/
.temp*/

tmp/
tmp*/
.tmp/
.tmp*/

data/

logs/
log/
.log/
.logs/

.cache-*/
.cache/
.*cache/

.codex-state/
.codex-live/
.codex-tools/
.gemini
.claude
.vault
.vaultspec

/*.log
/*.txt
/*.ini
